#!/bin/sh

# https://gist.github.com/eladnava/96bd9771cd2e01fb4427230563991c8d
# Make sure to:
# 1) Name this file `backup.sh` and place it in /home/ubuntu
# 2) Run sudo apt-get install awscli to install the AWSCLI
# 3) Run aws configure (enter s3-authorized IAM user and specify region)
# 4) Fill in DB host + name
# 5) Create S3 bucket for the backups and fill it in below (set a lifecycle rule to expire files older than X days in the bucket)
# 6) Run chmod +x backup.sh
# 7) Test it out via ./backup.sh
# 8) Set up a daily backup at midnight via `crontab -e`:
#    0 0 * * * /home/ubuntu/backup.sh > /home/ubuntu/backup.log

# Linux user account
USER={{ backup_user_host }}

# Current time
TIME=`/bin/date +%Y-%m-%d-%T`

# Backup target
FILENAME={{ source_database }}_dump_$TIME.archive
DEST=/home/$USER/backups/$FILENAME

# Create backup dir (-p to avoid warning if already exists)
/bin/mkdir -p $DEST

echo "Backing up $HOST/{{ source_database }} to s3://{{ s3_endpoint }}/{{ s3_bucket_name }}/$FILENAME on $TIME";

# Dump from mongodb host into backup directory
/usr/bin/mongodump -h localhost -d {{ source_database }} --gzip --archive=$DEST --password "{{ mongodb_backup_password }}" --username {{ mongodb_backup_user }} --authenticationDatabase admin

# Upload tar to s3
s3cmd --host={{ s3_endpoint }} --access_key="{{ s3_access_key }}" --secret_key="{{ s3_secret_key }}" put $DEST/archive.gz s3://{{ s3_endpoint }}/{{ s3_bucket_name }}/$FILENAME

# Remove backup directory
/bin/rm -rf $DEST

echo "Backup available at s3://{{ s3_endpoint }}/{{ s3_bucket_name }}/$FILENAME"
