#!/bin/sh

# https://gist.github.com/eladnava/96bd9771cd2e01fb4427230563991c8d
# Make sure to:
# 1) Name this file `backup.sh` and place it in /home/ubuntu
# 2) Run sudo apt-get install awscli to install the AWSCLI
# 3) Run aws configure (enter s3-authorized IAM user and specify region)
# 4) Fill in DB host + name
# 5) Create S3 bucket for the backups and fill it in below (set a lifecycle rule to expire files older than X days in the bucket)
# 6) Run chmod +x backup.sh
# 7) Test it out via ./backup.sh
# 8) Set up a daily backup at midnight via `crontab -e`:
#    0 0 * * * /home/ubuntu/backup.sh > /home/ubuntu/backup.log

# Linux user account
USER={{ backup_user_host }}

# Current time
TIME=`/bin/date +%Y-%m-%d-%T`

# Backup target
FILENAME=${TIME}_{{ source_database }}_dump.gz
DEST=/home/$USER/backups

# Create backup dir (-p to avoid warning if already exists)
/bin/mkdir -p $DEST

BACKUP_TARGET=s3://{{ s3_bucket_name }}.{{ s3_endpoint }}/$FILENAME
echo "Backing up $HOST/{{ source_database }} to $BACKUP_TARGET";

# Dump from mongodb host into backup directory
/usr/bin/mongodump -h localhost -d {{ source_database }} --gzip --archive=$DEST/$FILENAME --password "{{ mongodb_backup_password }}" --username {{ mongodb_backup_username }} --authenticationDatabase admin

# Upload encrypted archive to s3
s3cmd put $DEST/$FILENAME s3://{{ s3_bucket_name }}/$FILENAME

# Remove backup directory
/bin/rm -rf $DEST/$FILENAME

echo "Backup available at $BACKUP_TARGET"
